.frame {
  background-color: #f2f2f2;
  overflow: hidden;
  padding: 137px 138px 77px 78px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.dashboard {
  width: 102px;
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.64);
  margin-bottom: 12px;
}

.relativeWrapperTwo {
  margin-bottom: 40px;
  margin-left: 87px;
  position: relative;
}

.flexWrapperFour {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 24px;
  padding: 9px 24px;
  display: flex;
  align-items: center;
  position: absolute;
  left: -87px;
  top: 0;
}

.home {
  width: 40px;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.64);
}

.flexWrapperFive {
  border-radius: 24px;
  padding: 9px 24px;
  position: relative;
}

.works {
  width: 42px;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.32);
}

.flexWrapperSix {
  background-color: white;
  margin-bottom: 24px;
  border-radius: 24px;
  padding: 0 0 49px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexWrapperSeven {
  background-color: rgba(0, 0, 0, 0.02);
  margin-bottom: 45px;
  border-radius: 24px 24px 0px 0px;
  padding: 12px 30px 11px 24px;
  display: flex;
  align-items: flex-start;
}

.relativeWrapperOne {
  margin-right: 934px;
  position: relative;
}

.recentlyUploadedWorks {
  width: 189px;
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.64);
  position: relative;
}

.i1 {
  width: 8.99%;
  height: 66.67%;
  position: absolute;
  right: -9px;
  top: 4px;
}

.viewAll {
  width: 47px;
  font-family: "Segoe UI";
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.32);
  margin-top: 3px;
}

.dash51 {
  width: 4.82%;
  height: 19.91%;
  margin-bottom: 10px;
}

.tryPostingYourWork {
  width: 145px;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.32);
  text-align: center;
  margin-bottom: 20px;
}

.flexWrapperEight {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 2258px;
  padding: 9px 24px;
  display: flex;
  align-items: center;
}

.postYourWork {
  width: 99px;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.64);
  text-align: center;
}

.flexWrapperTwenty {
  margin-bottom: 24px;
  display: flex;
  align-items: flex-start;
}

.flexWrapperNine {
  background-color: white;
  margin-right: 24px;
  border-radius: 24px;
  padding: 0 0 23px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flexWrapperTen {
  background-color: rgba(0, 0, 0, 0.02);
  margin-bottom: 12px;
  border-radius: 24px 24px 0px 0px;
  padding: 12px 241px 12px 24px;
  display: flex;
  align-items: center;
}

.totalReactions {
  width: 110px;
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.64);
}

.i2 {
  width: 13.39%;
  height: 66.67%;
}

.flexWrapperTwentyTwo {
  padding: 0 0 0 22px;
  display: flex;
  align-items: center;
}

.dash41 {
  width: 17px;
  height: 10px;
  margin-right: 3px;
}

.views {
  width: 38px;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.32);
}

.one {
  width: 12px;
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.88);
  margin-bottom: 16px;
  margin-left: 24px;
}

.flexWrapperTwentyThree {
  padding: 0 0 0 23px;
  display: flex;
  align-items: center;
}

.dash31 {
  width: 15px;
  height: 10px;
  margin-right: 2px;
}

.likes {
  width: 33px;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.32);
}

.like {
  width: 12px;
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.88);
  margin-bottom: 16px;
  margin-left: 24px;
}

.flexWrapperTwentyFour {
  padding: 0 0 0 24px;
  display: flex;
  align-items: center;
}

.dash21 {
  width: 18.18%;
  height: 54.55%;
  margin-right: 4px;
}

.bookmarks {
  width: 74px;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.32);
}

.dash11 {
  width: 21.54%;
  height: 63.64%;
  margin-right: 4px;
}

.comments {
  width: 71px;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.32);
}

.comment {
  width: 12px;
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.88);
  margin-bottom: 20px;
  margin-left: 24px;
}

.bookmark {
  width: 12px;
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.88);
  margin-bottom: 20px;
  margin-left: 24px;
}

.flexWrapperEleven {
  background-color: rgba(0, 0, 0, 0.04);
  margin-bottom: 12px;
  margin-left: 24px;
  border-radius: 2258px;
  padding: 9px 133px 9px 132px;
  display: flex;
  align-items: center;
}

.viewDetails {
  width: 79px;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.64);
  text-align: center;
}

.latestUpdateAugust12021200 {
  width: 182px;
  font-family: "Segoe UI";
  font-size: 11px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.32);
  text-align: right;
  margin-left: 186px;
}

.flexWrapperTwelve {
  background-color: white;
  margin-right: 24px;
  border-radius: 24px;
  padding: 0 0 87px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flexWrapperThirteen {
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 24px 24px 0px 0px;
  padding: 10px 178px 14px 20px;
  display: flex;
  align-items: flex-start;
}

.yumeketTodaysTheme {
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.64);
  margin-right: 6px;
}

.i1Two {
  width: 8.76%;
  height: 66.67%;
  margin-top: 5px;
}

.flexWrapperFourteen {
  background: linear-gradient(rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.32)), rgba(0, 0, 0, 0.32);
  margin-bottom: 20px;
  padding: 51px 113px 52px 112px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foldingFan {
  width: 167px;
  font-family: "Segoe UI";
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  color: white;
  margin-bottom: 1px;
}

.shanzi {
  width: 36px;
  font-family: "Segoe UI";
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  color: white;
  margin-bottom: 8px;
}

.letsDraw {
  width: 71px;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: white;
}

.flexWrapperTwentySix {
  margin-bottom: 12px;
  padding: 0 0 0 43px;
  display: flex;
  align-items: flex-start;
}

.onceYouveCompletedTheWorkAddThe {
  width: 225px;
  font-family: "Segoe UI";
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.64);
  text-align: center;
}

.tagAndPostIt {
  width: 81px;
  font-family: "Segoe UI";
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.64);
  text-align: center;
}

.flexWrapperFifteen {
  background-color: rgba(0, 0, 0, 0.04);
  margin-left: 24px;
  border-radius: 2258px;
  padding: 9px 123px 9px 122px;
  display: flex;
  align-items: center;
}

.flexWrapperOne {
  background-color: white;
  border-radius: 24px;
  padding: 0 0 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flexWrapperTwo {
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 24px 24px 0px 0px;
  padding: 12px 236px 12px 24px;
  display: flex;
  align-items: center;
}

.ongoingContests {
  width: 132px;
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.64);
}

.rectangle {
  width: 392px;
  height: 269px;
  margin-bottom: 19px;
}

.num3 {
  width: 329px;
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.88);
  margin-bottom: 13px;
  margin-left: 24px;
}

.flexWrapperThree {
  background-size: 100% 100%;
  background-position: center;
  background-image: url("https://static.overlay-tech.com/assets/f44522b5-ea9c-4ff6-9976-7852e5ebb5be.png");
  margin-right: 8px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
}

.untilAug31st {
  width: 81px;
  font-family: "Segoe UI";
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: white;
}

.num202Works {
  width: 54px;
  font-family: "Segoe UI";
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.32);
}

.flexWrapperSixteen {
  background-color: white;
  border-radius: 24px;
  padding: 0 0 388px;
  position: relative;
}

.rectangleTwo {
  width: 392px;
  height: 48px;
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 24px 24px 0px 0px;
  position: relative;
}

.pr {
  width: 20px;
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.64);
  position: absolute;
  left: 24px;
  top: 12px;
}

.flexWrapperSeventeen {
  background-color: white;
  padding: 7px 0px 58px;
  display: flex;
  align-items: flex-start;
  position: absolute;
  left: -7px;
  top: 0;
}

.vectorLeft1 {
  width: 1.22%;
  height: 29.79%;
  margin-top: 17px;
  margin-right: 24px;
}

.logo {
  width: 140.8px;
  height: 32px;
  margin-top: 8px;
  margin-right: 150.2px;
}

.flexWrapperEighteen {
  background-color: #f2f2f2;
  margin-top: 7px;
  margin-right: 191px;
  border-radius: 4px;
  padding: 9px 402px 9px 19px;
  display: flex;
  align-items: flex-start;
}

.vectorSearch1 {
  width: 17px;
  height: 13px;
  margin-top: 6px;
  margin-right: 8px;
}

.searchWorks {
  width: 76.64%;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #bdbdbd;
  align-self: stretch;
}

.flexWrapperNineteen {
  background-size: 100% 100%;
  background-position: center;
  background-image: url("https://static.overlay-tech.com/assets/dc1a14fa-808d-4bfd-8b7c-6c71d97259f1.png");
  margin-right: 23px;
  padding: 7px 24px 11px 18px;
  display: flex;
  align-items: flex-start;
}

.postYourWorkTwo {
  width: 83.19%;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  color: #4f4f4f;
  align-self: stretch;
  text-align: center;
  margin-right: 7px;
}

.vectorSearch21 {
  width: 13px;
  height: 8px;
  margin-top: 10px;
}

.vectorMail1 {
  width: 1.51%;
  height: 34.04%;
  margin-top: 12px;
  margin-right: 28px;
}

.vectorRing1 {
  width: 1.37%;
  height: 42.55%;
  margin-top: 10px;
  margin-right: 27px;
}

.rectangleThree {
  width: 40px;
  height: 40px;
  margin-right: 6px;
}

.vector {
  width: 0.86%;
  height: 17.02%;
  margin-top: 17px;
}
